Host *
    ServerAliveCountMax 10
    ServerAliveInterval 15
    Compression yes

Host ebi_gate
    Hostname ligate.ebi.ac.uk
    Port 2244
    User bletcher
    IdentityFile ~/.ssh/ebi_rsa.pub

Host codon_ext
    Hostname hl-codon-21-01.ebi.ac.uk
    User bletcher
    IdentityFile ~/.ssh/ebi_rsa
    ProxyJump ebi_gate
    ForwardX11Trusted yes


Host noah_ext
    Hostname noah-login-02.ebi.ac.uk
    User bletcher
    IdentityFile ~/.ssh/ebi_rsa
    ProxyJump ebi_gate
    ForwardX11Trusted yes


Host yoda_ext
    Hostname hh-yoda-08-01
    User bletcher
    IdentityFile ~/.ssh/ebi_rsa
    ProxyJump ebi_gate
    ForwardX11Trusted yes

Host noah
	User bletcher
    Hostname noah-login.ebi.ac.uk

Host yoda
	User bletcher
    Hostname hh-yoda-08-01

Host github.com
    Hostname github.com
    ForwardX11 no
    ForwardX11Trusted no
	IdentityFile ~/.ssh/git_rsa

