Host *
    ServerAliveCountMax 10
    ServerAliveInterval 15
    Compression yes
    ForwardX11 yes
    #    SendEnv LC_* LANG


Host github.com
    Hostname github.com
    ForwardX11 no
	IdentityFile ~/.ssh/git_rsa

Host gitbio.ens-lyon.fr
    ForwardX11 no
	IdentityFile ~/.ssh/git_rsa

Host ens
    Hostname ssh.ens-lyon.fr
    User bletcher
    IdentityFile ~/.ssh/ens_rsa

# ENS: PSMN
Host allo_psmn
    Hostname allo-psmn.psmn.ens-lyon.fr
    User bletcher
    IdentityFile ~/.ssh/psmn_rsa

Host allo_psmn_ext
    ProxyJump ens
    Hostname allo-psmn.psmn.ens-lyon.fr
    User bletcher
    IdentityFile ~/.ssh/psmn_rsa

Host psmn_compute
    ProxyJump allo_psmn
    Hostname cl6226comp1
    # Hostname x5570comp2
    User bletcher
    IdentityFile ~/.ssh/psmn_rsa

Host psmn_compute_Cascade
    ProxyJump allo_psmn
    Hostname s92node01
    User bletcher
    IdentityFile ~/.ssh/psmn_rsa

Host psmn_compute_ext
    ProxyJump allo_psmn_ext
    Hostname cl6226comp1
    # Hostname x5570comp2
    User bletcher
    IdentityFile ~/.ssh/psmn_rsa


# ENS: CBP
Host CBP
    ProxyJump ens
    # Hostname opencluster2.cbp.ens-lyon.fr # GPU 24GB vRAM
    # Hostname r740gpu2.cbp.ens-lyon.fr # GPU 40 GB vRAM, two GPUs
    Hostname dgx.cbp.ens-lyon.fr # GPU 40GB vRAM, four GPUs
    User bletcher


Host UE_NGS
    User ubuntu
    Hostname 192.33.153.102
    IdentityFile ~/.ssh/psmn_rsa

# Lyon 1: LBBE
Host pbil
    Hostname pbil-deb.univ-lyon1.fr
    User bletcher
    IdentityFile ~/.ssh/psmn_rsa

Host pbil_gates
    Hostname pbil-gates.univ-lyon1.fr
    User bletcher
    IdentityFile ~/.ssh/ens_rsa

Host pbil_ext
    ProxyJump pbil_gates
    Hostname pbil-deb.univ-lyon1.fr
    User bletcher
    IdentityFile ~/.ssh/psmn_rsa
